@charset "UTF-8";

/* 
azul 1 : #00175B
azul 2 : #002D7D
azul 3 : #0249A1
azul 4 : #0068C3

*/

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color:#0068c389;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 375px;
    height: 667px;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.455);
}

section#login > div#imagem {
    display: block;
    background-color:#0068c389 ;
    background-image: url(../imagens/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40%;
}

section#login > div#formulario > h1 {
    text-align: center;
}

section#login > div#formulário {
    display: block;
}

section#login > div#formulario > p {
    text-align: left;
    font-size: 0.8em;
    font-weight: 500;
    padding: 5px;
}